@font-face {
  font-family: "BrandonBlack";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/BrandonBlack/BrandonGrotesque-Black.eot");
  src: local("BrandonBlack"), url("../fonts/BrandonBlack/BrandonGrotesque-Black.woff2") format("woff2"), url("../fonts/BrandonBlack/BrandonGrotesque-Black.woff") format("woff"), url("../fonts/BrandonBlack/BrandonGrotesque-Black.ttf") format("truetype"), url("../fonts/BrandonBlack/BrandonGrotesque-Black.svg#BrandonBlack") format("svg");
}
@font-face {
  font-family: "BrandonBold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/BrandonBold/BrandonGrotesque-Bold.eot");
  src: local("BrandonBold"), url("../fonts/BrandonBold/BrandonGrotesque-Bold.woff2") format("woff2"), url("../fonts/BrandonBold/BrandonGrotesque-Bold.woff") format("woff"), url("../fonts/BrandonBold/BrandonGrotesque-Bold.ttf") format("truetype"), url("../fonts/BrandonBold/BrandonGrotesque-Bold.svg#BrandonBold") format("svg");
}
@font-face {
  font-family: "BrandonMedium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BrandonMedium/BrandonGrotesque-Medium.eot");
  src: local("BrandonMedium"), url("../fonts/BrandonMedium/BrandonGrotesque-Medium.woff2") format("woff2"), url("../fonts/BrandonMedium/BrandonGrotesque-Medium.woff") format("woff"), url("../fonts/BrandonMedium/BrandonGrotesque-Medium.ttf") format("truetype"), url("../fonts/BrandonMedium/BrandonGrotesque-Medium.svg#BrandonMedium") format("svg");
}
@font-face {
  font-family: "BrandonRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BrandonRegular/BrandonGrotesque-Regular.eot");
  src: local("BrandonRegular"), url("../fonts/BrandonRegular/BrandonGrotesque-Regular.woff2") format("woff2"), url("../fonts/BrandonRegular/BrandonGrotesque-Regular.woff") format("woff"), url("../fonts/BrandonRegular/BrandonGrotesque-Regular.ttf") format("truetype"), url("../fonts/BrandonRegular/BrandonGrotesque-Regular.svg#BrandonRegular") format("svg");
}
@font-face {
  font-family: "BrandonLight";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BrandonLight/BrandonGrotesque-Light.eot");
  src: local("BrandonLight"), url("../fonts/BrandonLight/BrandonGrotesque-Light.woff2") format("woff2"), url("../fonts/BrandonLight/BrandonGrotesque-Light.woff") format("woff"), url("../fonts/BrandonLight/BrandonGrotesque-Light.ttf") format("truetype"), url("../fonts/BrandonLight/BrandonGrotesque-Light.svg#BrandonLight") format("svg");
}
@font-face {
  font-family: "BrandonLightItalic";
  font-weight: italic;
  font-style: normal;
  src: url("../fonts/BrandonLightItalic/BrandonGrotesque-LightItalic.eot");
  src: local("BrandonLightItalic"), url("../fonts/BrandonLightItalic/BrandonGrotesque-LightItalic.woff2") format("woff2"), url("../fonts/BrandonLightItalic/BrandonGrotesque-LightItalic.woff") format("woff"), url("../fonts/BrandonLightItalic/BrandonGrotesque-LightItalic.ttf") format("truetype"), url("../fonts/BrandonLightItalic/BrandonGrotesque-LightItalic.svg#BrandonLightItalic") format("svg");
}
/*GENERAL STYLES START */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  font: 16px/1.4 "BrandonMedium", sans-serif;
  position: relative;
  overflow-x: hidden;
  opacity: 1;
  background-color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nowrap {
  white-space: nowrap;
}

.section-title, .step-title {
  text-align: center;
  font: 1.125em "BrandonMedium", sans-serif;
  color: #383c43;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*GENERAL STYLES END */
.page-wrapper {
  color: #fff;
  background: url("../img/bg/md-bg/bg.jpg") no-repeat 77% -293px;
}

.header {
  padding: 20px 0 10px;
  font-family: "BrandonRegular", "BrandonMedium", sans-serif;
}
.header-link {
  color: #fff;
}
.header-link:hover {
  color: #fff;
}
.header-btn {
  display: block;
  width: 140px;
  height: 40px;
  text-align: center;
  border: 1px solid #fff;
  background: transparent;
  outline: none;
  cursor: pointer;
  color: #fff;
  border-radius: 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header-btn:hover {
  background-color: #ff3d4c;
  border-color: #ff3d4c;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header-btn:active {
  -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}
.header-btn:focus {
  outline: none;
}

.logo-wrap {
  max-width: 105px;
  width: 100%;
  margin: 15px auto 0;
  overflow: hidden;
}

.page-title {
  padding: 2.5rem 0;
}
.page-title-text {
  font: 1.75em/1.3 "BrandonLight", "Roboto", sans-serif;
  text-align: center;
  color: #fff;
}

.ip {
  padding: 3px 10px;
  background-color: #ff3d4c;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 7px;
}
.ip-address {
  display: inline-block;
  margin-right: 5px;
  font-family: "BrandonMedium", sans-serif;
}
.ip-status {
  position: relative;
  padding-left: 8px;
  font-family: "BrandonBlack", "BrandonMedium", sans-serif;
}
.ip-status::before {
  content: "";
  display: block;
  width: 1px;
  height: 70%;
  position: absolute;
  left: 0;
  top: 18%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255, 255, 255, 0.7)), color-stop(50%, rgba(255, 255, 255, 0.4)));
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0.4) 50%);
}

.btn-wrap {
  padding: 10px 0;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 15px 45px;
  font-family: "BrandonMedium", sans-serif;
  background-color: #ff3d4c;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn:hover {
  background-color: #f00013;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.steps {
  padding: 0 0 3rem;
}
.steps .form-line {
  padding: 10px 0;
}
.steps .form-text {
  padding: 0.8rem 0;
  font: italic 300 1rem "Roboto", sans-serif;
  color: #212326;
  text-align: center;
}
.steps input {
  padding: 0.9rem 0.5rem 0.8rem 2rem;
  font: 16px "BrandonRegular", "BrandonMedium", sans-serif;
  letter-spacing: 1px;
}
.steps input::-webkit-input-placeholder {
  text-transform: uppercase;
  font: 12px "BrandonRegular", "BrandonMedium", sans-serif;
  color: #dadadb;
  letter-spacing: 2px;
}
.steps input:-ms-input-placeholder {
  text-transform: uppercase;
  font: 12px "BrandonRegular", "BrandonMedium", sans-serif;
  color: #dadadb;
  letter-spacing: 2px;
}
.steps input::-ms-input-placeholder {
  text-transform: uppercase;
  font: 12px "BrandonRegular", "BrandonMedium", sans-serif;
  color: #dadadb;
  letter-spacing: 2px;
}
.steps input::placeholder {
  text-transform: uppercase;
  font: 12px "BrandonRegular", "BrandonMedium", sans-serif;
  color: #dadadb;
  letter-spacing: 2px;
}
.steps .error + .error {
  font: 300 12px "Roboto", sans-serif;
  color: #ff3d4c;
}

.step:not(:last-child) {
  margin-bottom: 50px;
}
.step-title_white {
  color: #fff;
}
.step-info {
  margin: 1rem 0 1.25rem;
  font: 300 1rem "Roboto", sans-serif;
  color: #383c43;
  text-align: center;
}
.step-info a {
  color: #005cfe;
}
.step-accordion .card {
  border: none;
  background-color: transparent;
}
.step-accordion .card-body {
  padding-bottom: 0;
}
.step-accordion .card-header {
  position: relative;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.step-accordion .card-header::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 30px;
  top: 48%;
  border-top: 2px solid #202020;
  border-right: 2px solid #202020;
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
  z-index: 0;
}
.step-accordion .card-header.opened::before {
  top: 35%;
  -webkit-transform: rotate(135deg) translateY(-50%);
          transform: rotate(135deg) translateY(-50%);
}
.step-accordion-btn {
  width: 100%;
  padding: 23px 20px 20px 65px;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: left;
  color: #383c43;
  font: 1em "BrandonBold", "BrandonMedium", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}
.step-accordion-btn:focus {
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.step-accordion-btn img {
  display: none;
  max-height: 25px;
}

.step2 .form-line {
  max-width: 435px;
  margin: 0 auto;
}

.step3 .form-group {
  margin-bottom: 0.6rem;
}
.step3 label:not(.error) {
  position: relative;
  font: 12px "BrandonMedium", sans-serif;
  color: #383c43;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.step3 input {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
}
.step3 a:not(.btn) {
  color: #006ad7;
}
.step3 a:not(.btn):hover {
  color: #0077f1;
}
.step3 .card-number, .step3 .card-cvv {
  background: #fff url("../img/icons/input-lock.png") no-repeat calc(100% - 20px) 50%;
}

.tarrifs {
  padding: 15px 0 0;
  font-family: "BrandonMedium", sans-serif;
}
.tarrifs-item {
  max-width: 320px;
  margin: 0 auto 15px;
  padding: 14px 0;
  border-radius: 3px;
  text-align: center;
  -webkit-box-shadow: 0 7px 53.1px 5.9px rgba(0, 0, 0, 0.08);
          box-shadow: 0 7px 53.1px 5.9px rgba(0, 0, 0, 0.08);
  background: #fff;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.tarrifs-item.recommend {
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.tarrifs-item:last-child {
  margin-bottom: 0;
}
.tarrifs-name {
  margin: 0 0 5px 0;
  font: 0.875em "BrandonBold", "BrandonMedium", sans-serif;
  text-transform: uppercase;
  color: #01356b;
  letter-spacing: 1px;
}
.tarrifs-description {
  margin: 0 0 5px 0;
  color: #383c43;
  font: 14px "BrandonBold", "BrandonMedium", sans-serif;
}
.tarrifs-discount {
  margin: 5px 0 10px;
  font: 14px "BrandonMedium", sans-serif;
  color: #fd0047;
  color: #bababa;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.tarrifs-price {
  margin: -5px 0 0;
  font: 44px/1.3 "BrandonBlack", "BrandonMedium", sans-serif;
  color: #383c43;
}
.tarrifs-price .symbol {
  position: relative;
  left: -5px;
  font-size: 22px;
  line-height: 42px;
  vertical-align: top;
  font-family: "BrandonMedium", sans-serif;
}
.tarrifs-price .period {
  font-size: 22px;
  line-height: 44px;
  vertical-align: bottom;
  font-family: "BrandonMedium", sans-serif;
}
.tarrifs-info, .tarrifs-guarantee {
  font: 12px "Roboto", sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.tarrifs-info {
  margin: 0;
  font-weight: 300;
  color: #202020;
}
.tarrifs-guarantee {
  display: inline-block;
  position: relative;
  margin: 15px 0 0;
  padding: 6px 0 3px 30px;
  font-style: italic;
  font-weight: 700;
  background: url("../img/icons/list-icon.png") no-repeat 0 0;
  color: #383c43;
}
.tarrifs-purchase {
  margin-top: 16px;
  padding: 9px 0;
  width: 210px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.my-tooltip {
  position: absolute;
  top: -3px;
  right: -30px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: url("../img/icons/input-tooltip.png") no-repeat 0 0;
}

.form-divider {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.form-divider label {
  padding: 1rem 0 0.5rem;
}

.step-form-btn {
  width: 220px;
  margin-top: 5px;
  padding: 9px 45px;
  background-color: #01356b;
  text-transform: uppercase;
  font-size: 14px;
}
.step-form-btn:hover {
  background-color: #014284;
}

.payment-footer {
  font-family: "Roboto", sans-serif;
}

.step3-guarantee, .step3-confirm, .tarrif-info {
  margin-top: 10px;
}

.step3-guarantee, .step3-confirm, .tarrif-info, .step3-contact {
  font-size: 12px;
}

.step3-guarantee, .tarrif-info {
  color: #333;
}

.step3-confirm, .step3-contact {
  color: #969696;
}

.step3-contact {
  margin-top: 20px;
}
.step3-contact-info, .step3-contact-data {
  margin-bottom: 0;
}

.payment-form1, .payment-form2, .payment-form3 {
  padding-bottom: 10px;
}

.payment-form-info {
  padding: 24px 0 40px;
  min-height: 170px;
  height: auto;
  color: #333;
  font: 14px "Roboto", sans-serif;
  text-align: center;
}
.payment-form-info .row {
  width: 100%;
}
.payment-form-info-text {
  margin: 20px 0 0 0;
}
.payment-form-info img {
  display: block;
  margin: 10px;
  max-height: 30px;
}

.collapse-form {
  padding: 10px 0 1rem;
}

.advantages {
  padding: 1rem 0 2.7rem;
  background: url("../img/bg/md-bg/bg2.jpg") no-repeat 94% 0;
}
.advantages-title {
  padding: 36px 10px 10px 41px;
  font: 1.875em "BrandonLight", "BrandonRegular", "BrandonMedium", sans-serif;
}
.advantages-logo {
  max-width: 150px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.advantages-list {
  margin: 0;
  padding: 19px 0 30px;
  list-style-type: none;
  font: 1.5em "BrandonLightItalic", "Roboto", sans-serif;
}
.advantages-list-item {
  margin-bottom: 5px;
  padding-left: 45px;
  background: url("../img/icons/list-icon.png") no-repeat 0 50%;
}

.info {
  padding: 4rem 0;
  overflow-x: hidden;
}
.info-title {
  font: 1.875rem/1.3 "BrandonRegular", "BrandonMedium", sans-serif;
  color: #383c43;
  text-align: center;
}
.info-os {
  padding: 1rem;
}
.info-os-icon {
  display: inline-block;
  background: url("../img/icons/os-sprite2.png") no-repeat;
}
.info-os-win {
  width: 28px;
  height: 29px;
  margin-right: 15px;
  background-position: 0 0;
}
.info-os-app {
  width: 30px;
  height: 35px;
  background-position: -36px 0;
}
.info-os-andr {
  width: 30px;
  height: 35px;
  margin-right: 15px;
  background-position: -70px 0;
}
.info-os-ios {
  width: 46px;
  height: 22px;
  background-position: -105px 0;
}
.info-device {
  font: 1.125rem "BrandonBold", "BrandonMedium", sans-serif;
  color: #383c43;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.info-device-descr {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #6f7173;
}
.info-img {
  margin-top: 1rem;
  display: block;
  max-width: 115%;
  height: auto;
}
.info-btn {
  margin-top: 2rem;
  padding: 13px 71px;
  font-size: 13px;
  text-transform: uppercase;
}

.trusted {
  padding: 4rem 0;
  background-color: #fafafa;
}
.trusted .section-title, .trusted .step-title {
  margin-bottom: 2rem;
}
.trusted img {
  max-width: 47%;
  display: inline-block;
  margin: 10px 5px;
}

.download {
  padding: 4rem 0;
  text-align: center;
  overflow: hidden;
}
.download-title {
  font: 1.875rem/1.2 "BrandonRegular", "BrandonMedium", sans-serif;
  color: #383c43;
}
.download-text {
  margin-top: 1.6rem;
  color: #202020;
  font: 400 0.875rem/1.7 "Roboto", sans-serif;
}
.download-content {
  position: relative;
}
.download-content-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.download-content-item-descr {
  font: 35px "BrandonBlack", "BrandonMedium", sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-indent: -4px;
}
.download-content-item1 {
  width: 310px;
  height: 310px;
  right: -57px;
  top: 29px;
  background-image: url("../img/download/movies.jpg");
}
.download-content-item2 {
  width: 145px;
  height: 145px;
  top: -13px;
  left: -15px;
  background-image: url("../img/download/soft.jpg");
}
.download-content-item3 {
  width: 235px;
  height: 235px;
  top: -64px;
  right: -99px;
  background-image: url("../img/download/lessons.jpg");
  background-position: 4% 50%;
}
.download-content-item4 {
  width: 210px;
  height: 210px;
  top: -70px;
  left: 8px;
  background-image: url("../img/download/games.jpg");
}
.download-content-item5 {
  width: 190px;
  height: 190px;
  top: -56px;
  right: -79px;
  background-image: url("../img/download/music.jpg");
}
.download-btn {
  padding: 13px 71px;
  font-size: 13px;
  text-transform: uppercase;
}

.endorsment {
  padding: 3rem 0;
  color: #383c43;
  background-color: #fafafa;
}
.endorsment-title {
  margin-bottom: 4.5rem;
  font: 1rem "BrandonMedium", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
.endorsment-post {
  max-width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 3.6rem;
  padding: 4.25rem 1.5rem 2rem;
  position: relative;
  background-color: #fff;
  color: #202020;
  border-radius: 4px;
  -webkit-box-shadow: 0px 7px 53.1px 5.9px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 7px 53.1px 5.9px rgba(0, 0, 0, 0.08);
  text-align: center;
}
.endorsment-img-wrap {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -38%);
          transform: translate(-50%, -38%);
  border-radius: 50%;
  background-color: #949ba3;
  overflow: hidden;
}
.endorsment-img {
  position: relative;
}
.endorsment-name {
  margin-top: 1rem;
  font: 1.125em "BrandonMedium", sans-serif;
}
.endorsment-text {
  margin-top: 1rem;
  font: 400 1rem/1.5 "Roboto", sans-serif;
}

.endorsment1-img, .endorsment2-img {
  left: -66px;
}

.endorsment3-img {
  top: -18px;
  left: -80px;
}

.howTo {
  padding: 2rem 0 2.4rem;
  background-color: #21274c;
}
.howTo-title {
  padding-right: 20%;
  font: 1.875em "BrandonLight", "Roboto", sans-serif;
  line-height: 1.3;
}
.howTo-text {
  margin: 0.6rem 0 1.9rem;
  line-height: 2;
  font-family: "Roboto", sans-serif;
}
.howTo-link {
  display: block;
  width: 130px;
  height: 45px;
  background-repeat: no-repeat;
}
.howTo-link-appStore {
  background-image: url("../img/app-store-white.svg");
  margin-left: auto;
  margin-right: 10px;
}
.howTo-link-googlePlay {
  background-image: url("../img/google-play-white.svg");
  margin-right: auto;
  margin-left: 10px;
}

.footer {
  padding: 1.5rem 0;
  background-color: #fff;
  font: 0.875em "BrandonRegular", "BrandonMedium", sans-serif;
  text-align: center;
}
.footer-copy {
  color: #959698;
}
.footer-support a {
  color: #0025ff;
}
.footer-support a:hover {
  color: #3351ff;
}

.thanks-page {
  background-color: #1b75bc;
  background: url("../img/bg/thanks/lg-bg.jpg") no-repeat 84% 0 !important;
  background-size: cover !important;
}
.thanks-page .header {
  background: none;
  position: relative;
  min-height: 415px;
}
.thanks-page .footer {
  background: none;
}
.thanks-page .page-heading {
  margin: 0 !important;
  padding: 2rem 0 !important;
  text-align: center;
  font: 3rem/1.2 "BrandonLight", "BrandonMedium", sans-serif;
}
.thanks-page .info {
  overflow-x: hidden;
}
.thanks-page .info-title {
  margin-bottom: 2rem;
  font: 300 1.125rem "Roboto", sans-serif;
  text-align: center;
  color: #fff;
}
.thanks-page .info-device {
  font: 1.125rem "BrandonMedium", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}
.thanks-page .info-device-descr {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #fff;
}
.thanks-page .info-os {
  padding: 1rem;
}
.thanks-page .info-os-icon {
  display: inline-block;
  width: 55px;
  height: 55px;
  background: url("../img/icons/os-sprite.png") no-repeat;
}
.thanks-page .info-os-andr {
  margin-right: 15px;
  background-position: 0 0;
}
.thanks-page .info-os-ios {
  background-position: -64px 0;
}
.thanks-page .info-os-win {
  margin-right: 15px;
  background-position: -127px 0;
}
.thanks-page .info-os-app {
  background-position: -190px 0;
}
.thanks-page .faq {
  padding: 2rem 0;
  color: #fff;
}
.thanks-page .faq-title {
  display: inline-block;
  position: relative;
  font: 20px "BrandonMedium", sans-serif;
}
.thanks-page .faq-list {
  padding-left: 1rem;
  list-style-type: disc;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.thanks-page .faq-list .faq-link {
  color: rgba(255, 255, 255, 0.8);
}
.thanks-page .faq-link {
  display: inline-block;
  position: relative;
  margin-bottom: 1rem;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.thanks-page .faq-link:hover {
  text-decoration: none;
}
.thanks-page .faq-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.thanks-page .faq-link:hover::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.thanks-page .howTo-link {
  height: 39px;
  margin: 15px auto 0;
}

.payment-page {
  min-height: 100vh;
  height: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1b75bc;
  background: url("../img/bg/thanks/lg-bg.jpg") no-repeat 84% 0 !important;
  background-size: cover !important;
}
.payment-page .footer {
  margin-top: auto;
  background-color: transparent;
}

.payment-wait {
  width: 430px;
  min-height: 280px;
  height: 1px;
  min-width: 290px;
  position: fixed;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.payment-wait-outer, .payment-wait-inner {
  margin: 0 auto;
  position: relative;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.payment-wait-outer {
  width: 28px;
  height: 28px;
}

.payment-wait-inner {
  border: 2px solid #fff;
  width: 28px;
  height: 28px;
}

.payment-wait-outer::before,
.payment-wait-inner::before,
.payment-wait-inner::after {
  content: "";
  position: absolute;
  border: 5px solid #fff;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  -webkit-animation: pulse 2.4s linear infinite;
          animation: pulse 2.4s linear infinite;
  opacity: 0;
}

.payment-wait-inner::after {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.payment-wait-outer::before {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.payment-wait-outer::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(1, 52, 107, 0.5);
  border-radius: 50%;
  display: block;
  width: 40px;
  height: 5px;
}

.payment-wait-text {
  margin-top: 60px;
  font: 400 14px "Roboto", sans-serif;
  text-align: center;
  color: #fff;
}
.payment-wait-text-accent {
  text-transform: uppercase;
  color: #00faa5;
}

.payment-complete {
  display: none;
  width: 13px;
  height: 10px;
  margin: 0 auto;
  background: url("../img/icons/complete.png") no-repeat 50% 50%;
}

.payment-wait.completed .payment-wait-outer, .payment-wait.completed .payment-wait-inner {
  background-color: #00faa5;
  border-color: #00faa5;
}
.payment-wait.completed .payment-wait-outer::before,
.payment-wait.completed .payment-wait-inner::before,
.payment-wait.completed .payment-wait-inner::after {
  border-color: #00faa5;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.payment-wait.completed .payment-complete {
  display: inline-block;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
    border-width: 4px;
  }
  50% {
    opacity: 1;
    border-width: 1px;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
    border-width: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
    border-width: 4px;
  }
  50% {
    opacity: 1;
    border-width: 1px;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
    border-width: 0;
  }
}
@media only screen and (min-width: 380px) {
  .download-content {
    right: -15%;
  }

  /* */
}
@media only screen and (min-width: 480px) {
  .info-img {
    max-width: 100%;
    margin: 2.6rem auto 0;
  }

  /* */
}
@media only screen and (min-width: 768px) {
  .page-wrapper {
    background-position: 73% -141px;
  }

  .page-title {
    padding-bottom: 1rem;
  }
  .page-title-text {
    font-size: 3em;
  }

  .logo-wrap {
    margin: 0;
  }

  .ip {
    margin-top: 1rem;
    padding: 3px 24px;
    font-size: 18px;
  }

  .tarrifs {
    padding: 2.5rem 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tarrifs::before {
    width: 500px;
  }
  .tarrifs-item {
    width: 230px;
    min-height: 220px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .tarrifs-item.recommend {
    top: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 10;
  }
  .tarrifs-item.recommend .tarrifs-guarantee {
    padding: 9px 0 3px 30px;
    background: url("../img/icons/list-icon.png") no-repeat 0 50%;
  }
  .tarrifs-item.recommend .tarrifs-purchase {
    display: inline-block;
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .tarrifs-guarantee {
    padding-left: 0;
    background: none;
  }
  .tarrifs-purchase {
    display: none;
    width: 200px;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

  .steps {
    padding: 0 0 3.125rem;
  }
  .steps .section-title, .steps .step-title {
    margin: 1rem 0 0;
  }

  .step1 .step-title {
    margin-bottom: 2rem;
  }

  .step-accordion .collapse-form {
    padding: 1rem 1rem 2rem;
    border: 1px solid #ced4da;
    background-color: #fafafa;
  }

  .step-form-btn {
    margin-top: 20px;
  }

  .step3-guarantee, .step3-confirm {
    text-align: left;
  }

  .step3-guarantee {
    padding: 10px 0 10px 45px;
    position: relative;
  }
  .step3-guarantee::before {
    content: "";
    width: 37px;
    height: 32px;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../img/icons/7guarantee.svg") no-repeat 50% 50%;
    z-index: 0;
  }

  .step input {
    margin: 0 auto;
  }

  .step-accordion-btn {
    padding-bottom: 15px;
  }
  .step-accordion-btn-text {
    min-width: 115px;
    display: inline-block;
  }
  .step-accordion-btn img {
    margin-left: 18px;
    display: inline-block;
  }

  .steps {
    position: relative;
  }
  .steps .form-text {
    margin: 0 auto;
    max-width: 645px;
  }
  .steps .step-info {
    margin: 1.5rem 0 1.85rem;
  }

  .advantages-title {
    font-size: 2.8125rem;
    text-align: center;
  }

  .info {
    padding: 3.125rem 0;
  }
  .info-title {
    font-size: 2.8125rem;
    padding: 0 22%;
  }
  .info-btn {
    margin-top: 1rem;
  }
  .info-os {
    padding-top: 3rem;
  }

  .trusted {
    padding: 3.125rem 0;
  }
  .trusted img {
    margin: 15px 17px;
  }

  .download-title {
    font-size: 2.8125rem;
  }
  .download-text {
    padding: 0 120px;
  }
  .download-content {
    right: 0;
    padding-bottom: 133px;
  }
  .download-content-item1 {
    right: -127px;
    top: 50px;
  }
  .download-content-item2 {
    position: absolute;
    top: 34px;
    right: 96px;
    left: auto;
  }
  .download-content-item3 {
    top: -79px;
    right: -443px;
  }
  .download-content-item4 {
    position: absolute;
    top: auto;
    bottom: 98px;
    left: 35px;
  }
  .download-content-item5 {
    position: absolute;
    top: auto;
    bottom: 64px;
    right: 214px;
  }

  .endorsment-post {
    margin-bottom: 5rem;
    padding: 4.25rem 5rem 2rem;
  }

  .howTo {
    padding: 4rem 0;
    background: url("../img/bg/lg-bg/bg3.jpg") no-repeat 55% 100%;
  }
  .howTo-title {
    padding-right: 0;
    font-size: 2.75em;
  }
  .howTo-link {
    margin: 0 0 10px;
  }

  .footer-copy {
    margin-right: 5px;
  }

  .thanks-page {
    min-height: 100vh;
    height: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .thanks-page .bottom-line {
    padding-top: 5rem;
  }
  .thanks-page .info-title {
    padding: 0;
  }

  /* */
}
@media only screen and (min-width: 992px) {
  .download-content {
    right: -11%;
  }
  .download-content-item2 {
    right: 302px;
  }
  .download-content-item5 {
    right: 461px;
  }

  .thanks-page .howTo-link {
    margin: 0 auto;
  }

  /* */
}
@media only screen and (min-width: 1200px) {
  .page-wrapper {
    background: url("../img/bg/lg-bg/bg.jpg") no-repeat 0 0;
  }

  .page-title {
    padding: 30px 0;
  }
  .page-title-text {
    font-size: 3.625em;
  }
  .page-title-text br {
    display: none;
  }

  .tarrifs {
    min-height: 307px;
  }
  .tarrifs-item {
    width: 320px;
  }
  .tarrifs-item.recommend {
    width: 370px;
    max-width: 370px;
  }
  .tarrifs-item.recommend .tarrifs-price {
    font-size: 58px;
    line-height: 1.3;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .tarrifs-item.recommend .symbol {
    font-size: 30px;
    line-height: 58px;
  }
  .tarrifs-item.recommend .period {
    font-size: 30px;
    line-height: 55px;
  }
  .tarrifs-name {
    font-size: 16px;
  }

  .steps .step2 {
    margin-bottom: 30px;
  }

  .step-accordion .collapse-form {
    padding: 1rem 2rem 2rem;
  }

  .step-accordion-btn {
    padding-left: 60px;
  }

  .step-accordion .card-header::before {
    left: 30px;
  }

  .advantages {
    padding: 3.125rem 0;
    background: url("../img/bg/lg-bg/bg2.jpg") no-repeat 0 0;
    background-size: cover;
  }
  .advantages-logo {
    margin-left: 10px;
  }

  .info {
    position: relative;
    overflow: hidden;
  }
  .info-title {
    padding: 0 170px 0 0;
    line-height: 1.2;
    text-align: left;
  }
  .info-os {
    margin-top: 3.6rem;
    padding: 0;
  }
  .info-os-win {
    margin-right: 30px;
  }
  .info-os-andr {
    margin-right: 20px;
  }
  .info-device, .info-device-descr {
    margin-left: -20px;
  }
  .info-btn {
    margin-top: 5rem;
  }
  .info-img {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 80%;
    margin: 0;
  }

  .download {
    padding: 0;
    position: relative;
    text-align: left;
    height: 740px;
  }
  .download .container {
    padding: 175px 15px 275px;
    position: relative;
    height: 100%;
  }
  .download div[class*="col"] {
    position: static;
  }
  .download-text {
    padding: 0 150px 0 0;
  }
  .download-content {
    position: static;
    padding: 0;
  }
  .download-content-item {
    position: absolute;
  }
  .download-content-item1 {
    right: auto;
    left: 528px;
    top: 144px;
  }
  .download-content-item2 {
    top: 96px;
    right: 133px;
  }
  .download-content-item3 {
    top: 269px;
    right: -19px;
  }
  .download-content-item4 {
    bottom: 85px;
    left: 396px;
  }
  .download-content-item5 {
    bottom: 51px;
    right: 215px;
  }
  .download-btn {
    margin-top: 3rem;
  }

  .endorsment-post {
    padding: 4.25rem 1rem 2rem;
  }

  .howTo {
    background-position: 100% 100%;
    background-size: cover;
  }
  .howTo-title, .howTo-text {
    margin-bottom: 1.5rem;
  }
  .howTo-link {
    margin: 0 13px;
  }

  .thanks-page .info-title {
    padding-right: 0;
  }

  /* */
}
@media only screen and (min-width: 1400px) {
  .page-wrapper {
    background-size: 100%;
  }

  .thanks-page {
    background-size: cover;
  }
  .thanks-page .bottom-line {
    padding-top: 5rem;
  }

  /* */
}
